:root {
    --colorPrimario: #90c322;
    --colorSecundario: #555555;
    --blanco: #ffffff;
    --negro: #000000;
    --FuentePrimaria: 'bebas';
    --FuenteSecundaria: Verdana, Geneva, Tahoma, sans-serif;

}

body {
    padding: 0;
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'bebas';
    src: url(./fuentes/bebas_neue/BebasNeue-Regular.woff2);
}

a {
    color: var(--blanco);
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-family: var(--FuentePrimaria);
    font-size: 35px;
}
h2{
    font-family: var(--FuentePrimaria);
    text-transform: uppercase;
}

h3 {
    font-family: var(--FuenteSecundaria);
    font-size: 28px;
}

.header_verde {
    display: flex;
    background-color: var(--colorPrimario);
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding-bottom: 10px;
    padding-top: 10px;
}

.header_verde .contenido {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.col1 {
    display: flex;
    gap: 20px;
}

.col2 {
    display: flex;
    gap: 20px;
}

.header_blanco {
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
}

.columna2_headerBlanco {
    display: flex;
    gap: 10px;
}

input {
    padding-bottom: 18px;
    border: solid 1px gray;
}

.boton_header {
    background-color: var(--colorPrimario);
    padding: 4px;
    border: solid var(--colorPrimario);
}

.boton_header img {
    width: 80%;
    margin: 0 auto;
}

.header_negro {
    background-color: var(--colorSecundario);
    color: var(--blanco);
    text-transform: uppercase;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 285px;
    padding-right: 285px;
}

li {
    padding: 21px 15px;
    border: solid 1px grey;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'bebas';
    font-size: 22px;
}

ul {
    display: flex;
}

.contenedor_img {
    width: 100%;
    position: relative;
    z-index: 0;
    height: auto;
}

.contenedor_img img {
    display: block;
    width: 100%;
    height: auto;
}

.parte_abajo {
    display: flex;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    z-index: 99;
    bottom: 0;
    height: 100%;

}

.parteBoton {
    width: 33.3%;
    display: flex;
    text-align: center;
    align-items: end;
}

.contenedor_caja {
    width: 33.3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;


}

.caja_imagen {
    width: 50%;
    text-align: center;
    background-color: var(--negro);
    opacity: 0.7;
    color: var(--blanco);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
}

.boton_img_verde {
    padding-right: 60px;
    padding-left: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--colorPrimario);
    border: solid var(--colorPrimario);
    opacity: 0.7;
}

.Categorias {
    position: relative;
    z-index: 0;
    padding-top: 40px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    padding-bottom: 20px;

}


.catItem {
    width: 33.3%;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.botonCat {
    position: absolute;
    bottom: 4px;
    /* Ajusta para mover el botón hacia arriba o abajo */
    right: 40%;
    z-index: 99;
    background-color: var(--colorPrimario);
    color: var(--blanco);
    border: none;
    padding: 12px 24px;
    font-family: 'bebas';
    font-size: 18px;
    text-transform: uppercase;
    opacity: 0.8;
}

.overlay {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: 133px;
}

.imagenCat {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 5;
}
.section_featured{
    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    border: solid 1px gray;
    padding: 10px;
}
.botones_featured{
    display: flex;
    gap: 10px;
}
.elementos{
    width: 70%;
    margin: 0 auto;
    display: flex;
    gap: 20px;

}

